* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.mainContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.card {
  margin: 20px;
}
